.gameBoard {

    border: solid black 1px;
    font-size: 5vw;
    background: #6AB187;
    text-align: center;
    color: lavender;
    height: 85px;
    width: 85px;

}

.table {
    margin-left: 100px;
}